.header {
    position: relative;
    background: #F5F6F7;
    min-height: 720px;

    &__row {
        display: flex;
    }

    &__item {
        flex: 1 0 50%;
        max-width: 50%;
        padding: 15px 0 0 15px;
    }
    
    &__nav {}

    &__nav li {
        margin: 0 45px;
    }

    &__nav ul {
        padding: 0;
        display: flex;
        text-decoration: none;
        list-style-type: none;
        justify-content: flex-end;
    }

    &__nav a {
        text-decoration: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 120%;
        color: #0F2336;
    }
}

.header button {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 120%;
    color: #FFFFFF;
    padding: 16px 26px;
    background: #0F2336;
    border-radius: 4px;
    margin-top: -20px;
}

.one {
    background: #F5F6F7;

    &__text {
        position: relative;
        width: 557px;
        margin-top: 140px;
        z-index: 2;
    }

    &__text h1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 55px;
        line-height: 138%;
        letter-spacing: 1.11px;
        color: #00CCCC;
    }

    &__text2 {
        margin-top: -60px;
    }

    &__text p {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 55px;
        line-height: 138%;
        letter-spacing: 1.11px;
        color: #0F2336;
    }

    &__button {}

    &__button button {}

    &__img {
        z-index: 1;
        position: absolute;
        bottom: 0;
        right: 30px;
    }
}
