.container {
  max-width: 1170px;
  margin: 0 auto;
}
 
.section-fifth {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: rebeccapurple;
  width: 100%;
  height: 540px;
  border-radius: 50px;
  
  

  &__content {
    
  }

  &__title {
    position: relative;
    top: 130px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    padding-left: 140px;
  }

  span {
    padding: 20px 0px;
  }

  h2 {
    margin: 0px;
  }


  &__imgs img{
      position: absolute;
      right: 70px;
      
    
  }
  
}