.section-sixth {
    .container {
        max-width:570px;

        .group{
            margin: 0 221px;
        }

        p{
            font-weight: 900;
            font-size: 50px;
            text-align: center;
            margin: 20px 25px;
        }
        .user{
            display:flex;
            margin-bottom:20px;

            .number{
                width: 395px;
                height: 55px;
                font-weight: bold;
                font-size: 18px;
                text-align: center;
                margin-right: 20px;
            }

            .submit{
                background: #00CCCC;
                border: 1px solid #00CCCC;
                border-radius: 14px;
                width: 156px;
                font-weight: bold;
                font-size: 18px;
                color: #0F2336;

            }
        }

        .download{
            width: 395px;
            display:flex;
            justify-content: space-between;
            
            // .button{
            //     border-radius: 10px;
            //     width: 185px;
            //     height: 60px;
            //     background-color: #240C39;
                
            // }
        }
    }


}