header.header
    .container
        .header__row
            .header__item
                .header__logo   
                    img(src="./assets/imgs/section-one/logo.png", alt="#")
            .header__item
                nav.header__nav
                    ul
                        li
                            a(href="#") Store
                        li
                            a(href="#") Help & Support
                        li
                            button Download
                .header__burger 
                    span
        section.one 
            .container
                .one__text 
                    h1 <span>Order ahead</span> and earn rewards for every purchase.
                    .one__button
                        button Discover how
                            img(src="./assets/imgs/section-one/strelka.png", alt="")
                .one__img 
                    img(src="./assets/imgs/section-one/couple.png", alt="") 


