.section-sixth
    .container 
        img.group(src="../assets/imgs/section_sixth/group.svg", alt="")
        p Enjoy your afternoon tea with a snack
        .user 
            input.number(type='text' placeholder='Enter mobile number' )
            br
            br
            input.submit(type='submit' value='Submit')
        .download  
            .button.appstore 
                img(src="../assets/imgs/section_sixth/appstore.png", alt="")
            .button.googleplay 
                img(src="../assets/imgs/section_sixth/googleplay.png", alt="") 