.section-fifth.container
  .section-fifth__content
      .section-fifth__title
        span Please your friends
        h2 Send gifts and
        h2 order for groups
        span Send Gifts with a value for your friends and family and use it on their favorite stores. Be the rock star make Group Orders and pick up for your coworkers when they can't get away.
  .section-fifth__imgs
    img(src="../assets/imgs/section-fifth_img/phone.png", alt="")
