.section-four
    .container
        .rows
            .row.row1
                img(src="", alt="")
                .row__inf
                    .row__title Loyalty Points
                    .row__text Collect points on each store and redeem the them to change for Teas.
            .row.row2
                img(src="", alt="")
                .row__inf
                    .row__title Exclusive Store Discounts
                    .row__text You can enjoy lots of discounts from the selected stores near you.
            .row.row3
                img(src="", alt="")
                .row__inf
                    .row__title T.Pass Free Drinks
                    .row__text 2 Teas for $5.99 each month. and you can carry them over to the next month.
            
            