.section-fifth.container
  .section-fifth__content
      .section-fifth__title
        span.title Please your friends
        h2.hdg Send gifts and
        h2.hdg order for groups
        span.decription Send Gifts with a value for your friends and family and use it on their favorite stores. Be the rock star make Group Orders and pick up for your coworkers when they can't get away.
  .section-fifth__imgs
    img.phone-img(src="../assets/imgs/section-fifth_img/phone.png", alt="")
    img.blueberry-img(src="../assets/imgs/section-fifth_img/blueberry.png", alt="")
    img.cocktail-img(src="../assets/imgs/section-fifth_img/cocktail.png", alt="")