header.header
    .section
        .header__row
            .header__item
                .header__logo   
                    img(src="./assets/imgs/section-one/logo.png", alt="#")
            .header__item
                nav.header__nav
                    ul
                        li
                            a(href="#") Store
                        li
                            a(href="#") Help & Support
                        li
                            button Download
        section.one 
            .section
                .one__text 
                    h1 Order ahead
                    .one__text2 
                        p and earn rewards for every purchase.
                .one__button
                    button
                .one__img 
                    img(src="./assets/imgs/section-one/couple.png", alt="") 


